.panels-page {
  margin: 1.5em;
}
@media screen and (min-width: 38em) {
  .panels-page {
    margin: 2.5em;
  }
}

.layout-masonry .block-wrapper {
  width: 98%;
  margin: 0 1% 20px 1%;
}
.layout-masonry .block {
  background: #e0e0e0;
  border-radius: 8px;
  padding: 1.2em 1.5em;
}
.layout-masonry h2 {
  margin: 0;
}

@media screen and (min-width: 560px) {
  .layout-masonry .block-wrapper {
    width: 48%;
  }
}
@media screen and (min-width: 851px) {
  .layout-masonry .block-wrapper {
    width: 31.33%;
  }
}
