{#
/**
 * @file
 * Projects theme implementation to display a single page.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

<div class="layout-container panels-page">
  {{ page.highlighted }}
  {{ page.content }}
</div>
